{{!-- Partial for each individual comment --}}
<a href="/viewpost/{{id}}">
    <div class="card">
        <h3 class="post-header">{{title}} </h3>
        <h5>Posted by {{user.username}}</h5>
        
            <p class="post-text">{{body}}</p>
        
    </div>
</a>