<h3> Welcome to the TechBlog</h3>
<p>Lets share articles, blog posts, and comments to get the discussion going.</p>
{{#each posts as |aPost| }}
{{!-- Pass in the data to each individual post --}}
{{> post aPost}}
{{/each}}